body{
  width: 100%;
  margin: 0;
    /*height: 2000px;*/
}
a{
    color: black;
    text-decoration: none;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff')
}

a {
    text-decoration: none;
}


header{
    width: 100%;
    background-color: white;
    height: 75px;
}

.header-container{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    height: 75px;
    align-items: center;  
    justify-content: space-between;
    font-size: 1.2rem;
    /*border: 1px solid black;*/
}
.logo{
    /*margin-left: 10px;*/
    width: 170px;

}
.header-container ul{
    width: 600px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: .85rem;
    font-weight: bold;
}
.header-container li{
    cursor: pointer;
    text-transform: uppercase;
    padding-top: 29px;
    padding-bottom: 29px;
    border-bottom: 2px solid transparent;

}
.header-container li:hover{
    color: #1C70EE;
    border-bottom: 2px solid #1C70EE;

}


    form input :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
    .container_phone-card{
        display: flex;
        align-items: center;
    }
.phone-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .85rem;
    /*margin-right: -50px;*/
}
.phone-card a{
    font-weight: bold;
    font-size: 1.2rem;
}
.phone-card p{
    margin: 5px;
    color: #b1b1b5;
}
.header-button{
    cursor: pointer;
    background-color: #1C70EE;
    padding: 15px;
}
.header-button a{
    color: white;
}
.banner_wrapper{
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    background-size: cover;
}
.banner_wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.35);
    z-index: 2;
}
.banner{
    transition: 1s;
    height: 550px;
    position: relative;
    z-index: 3;
    color: white;
    display: flex;
    align-items: center;

}
.text-info{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}
.text-info h1{
    width: 40%;
    font-size: 2.6rem;
    /*text-transform: uppercase;*/
}
.text-info p{
    width: 40%;
    font-size: 1.2rem;
}
.text-info-button{
    padding: 15px;
    margin-top: 30px;
    border: 1.5px solid white;
    background: transparent;
    width: 170px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.sales_wrapper{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sales_wrapper p{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.blue_underline{
    width: 40px;
    height: 2px;
    margin: 0px auto;
    background-color: #1C70EE;
}
.sales-cards{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.sales-card{
    display: flex;
    /*justify-content: flex-start;*/
    width: 50%;
    height: 335px;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    background-size: cover;
    flex-direction: column;
    position: relative;

}
.sales-card .logo{
    width: 155px;
    height: 47px;
    position: absolute;
    top: 40px;
    left: 70px;
}
.sales-card .red-tape img{
    width: 244px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 40px;
}
.sales-card-discount{
    position: absolute;
    top: 120px;
    left: 80px;
    font-size: 2.6rem;
    letter-spacing: 2.5px;
}
.sales-card-title{
    text-align: left;
    width: 50%;
    position: absolute;
    position: absolute;
    top: 90px;
    left: 70px;
}

.sales-card-button {
    position: absolute;
    bottom: 60px;
    left: 65px;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    border: 1.5px solid white;
    z-index: 4;
    cursor: pointer;
}
.guarantee{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.left-sidebar-text{
    width: 45%;
    text-align: left;
    font-size: 1.2rem;
}

.profile-description{
    font-size: 1.2rem;
}
.advantages-wrapper{
    width: 50%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advantage-item{
    width: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.advantage-item img{
    width: 80px;
    height: 80px;
}
.advantages-wrapper p{
    font-size: 1rem;
    font-weight: 500;
}



.profile-systems-wrapper{
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.profile-systems-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.profile-logos{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 50px;
}
.profile-logos img{
    width: 120px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #1C70EE;
    cursor: pointer;
}

.profile-button{
    width: 170px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    background-color: #1C70EE;
    color: white;
    font-size: .9rem;
}
.profile-card{
    width: 1000px;
    display: none;
    justify-content: space-between;
    margin-top: 60px;
    min-height: 350px;
    align-items: center;

}
.profile-wrapper{
    width: 32%;
    height: 100%;
}
.profile-image{
    width: 250px;
    height: 300px;
}
.profile-info{
    width: 65%;
}
.profile-name{
    font-size: 1.2rem;
    font-weight: bold;

}
.profile-logos img:hover{
    opacity: 1;
}
.passive-logo{
    opacity: .35    ;
}
.active-logo{
    opacity: 1;
}




/* DIMAAA */
.feedback{
    width: 100%;
    margin-top: 125px;
    margin-bottom: 120px;
    background-image: url("../images/backgroundfeedback.png");
}

.wrapper-feedback{
    max-width: 1200px;
    margin: 0px auto;
    height: 626px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info-feedback{
    width: 100%;
    height: 203px;
    display: flex;
    background-color: #1C70EE;
}

.slider-portfolio{
    width: 100%;
    margin: 0px auto;
}

.wrapper-portfolio{
    max-width: 1200px;
    margin: 0px auto;
}

.info-describe{
    width: 433px;
    display: flex;
    flex-direction: column;
    padding: 51px 59px 40px 59px;
}

.header-name{
    font-weight: 600;
    font-size: 35px;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 10px;
}

.feedback-info-name{
    font-size: 21px;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 12px;
}

.photo-member{
    width: 121px;
    height: 121px;
    border: 2px solid #8db7f7;
    border-radius: 200px;
    margin-bottom: 12px;
}

.member-name{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px auto;
    margin-left: 0px;
}

.photo-member-img{
    border-radius: 100px;
}

.member{
    margin-top: 26px;
}

.status-member{
    display: flex;
}

.active-member{
    width: 7px;
    height: 7px;
    background: #A2F439;
    border-radius: 100px;
    margin: 0px auto;
    margin-right: 9px;
    margin-top: 5px;
}

.team{
    display: flex;
}

.member:nth-child(2n){
    margin-left: 32px;
}

.button-feedback{
    width: 229px;
    height: 73px;
    color: #FFFFFF;
    border: 1px solid white;
    font-size: 15px;
    margin-left: 74px;
    margin-top: 64px;
    text-align: center;
}

.feedback-info{
    padding: 22px 15px 23px 17px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 7px;
    cursor: pointer;
}

.button-feedback:hover{
    background-color: white;
    color: #1C70EE;
    transition: all 1s ease-out;
}

.certification{
    width: 100%;
    margin-bottom: 100px;
}

.wrapper-certification{
    max-width: 1200px;
    margin: 0px auto;
}

.block-name{
    margin: 0px auto;
    margin-bottom: 53px;
}

.image-certification{
    width: 270px;
    height: 400px;
}

.certification-cards{
    display: flex;
    justify-content: space-around;
}

.comments{
    width: 100%;
    background-image: url("../images/Rectangle 24.png");
    background-position-y: -200px;
    margin-bottom: 121px;
    background-repeat: no-repeat;
    background-size: auto;
}

.wrapper-comment{
    max-width: 1200px;
    margin: 0px auto;
}

.comments-wrapper-card{
    display: flex;
    justify-content: space-between;
}



.comment-text{
    padding: 29px 33px 29px 33px;
}

.comment-text-wrapper{
    width: 625px;
    height: 214px;
    background-color: white;
    position: relative;
}

.comment-text-wrapper img{
    position: absolute;
    width: 29px;
    height: 29px;
}


.comment-text{
    width: 450px;
    height: 129px;
    font-size: 19px;

}

.photo-client{
    border-radius: 100px;
    width: 109px;
    height: 109px;
}

.client{
    margin-top: 22px;
    display: flex;
}

.client-info{
    margin-left: 25px;
    margin-top: 29px;
}

.wrapper-comment .block-name{
    padding-top: 100px;
}

.client-name{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #1A1818
}

.client-date{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #C9C9C9;
}

.card:nth-child(2n){
    margin-left: 15px;
}

footer{
    width: 100%;
}

.map{
    max-width: 1200px;
    height: 479px;
    margin: 0px auto;
}

.footer-info{
    max-width: 1200px;
    height: 50px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.privacy-footer{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    color: #C4C4C4;
    padding-top: 5px;
}

.privacy-footer p{
    margin-right: 15px;
}

.made-by{
    display: flex;
}

.made-by p{
    font-size: 20px;
    color: #C4C4C4;
    text-transform: capitalize;
    margin-top: 15px;
}

.made-by img{
    width: 35px;
    height: 25px;
    padding-top: 15px;
    margin-left: 15px;
}

.social-network{
    display: flex;
    margin-top: 10px;
}

.social-network img{
    width: 30px;
    height: 30px;
    margin-right: 12px;
    cursor: pointer;

}

.wrapper-slider{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

}

.card-portfolio:nth-child(2n){
    margin-left: 10px;
}

.city{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #C9C9C9;
}

.project-name{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #1A1818;
}

.card-portfolio img{
    max-width: 625px;
}

.popup{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup-body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content{
    background-color: #FFFFFF;
    color: #1A1818;
    max-width: 567px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.popup-sup-title{
    margin-top: 34px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    text-align: center;
    color: #C8C8C8;
}

form input{
    margin: 0px auto;
    width: 445px;
    height: 25px;
    padding: 18px 0px 17px 22px;
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
}

form{
    text-align: center;
}

.popup-close{
    position: absolute;
    right: 35px;
    top: 35px;
}

.free-calculate-form-button{
    width: 471px;
    height: 53px;
    background-color: #1C70EE;
    color: #FFFFFF;
    padding: 16px 155px 17px 155px;
    font-size: 15px;
    cursor: pointer;
}